<div class="container">
  <h1>Blog Homepage</h1>
  <ol>
    <% @posts.each do |post| %>
      <li><a href="/post/<%= post.id %>"><%= post.title %></a></li>
    <% end %>
  </ol>
  <a href="/post/add/">Create post</a>
  <a href="/tag">View tags</a>
</div>
